<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" id="navbar" style="background-color: #B22222;">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a href="welcome.html">
                  <img class="logo" src="https://media.istockphoto.com/vectors/pizza-restaurant-logo-featuring-chef-spinning-pizza-base-vector-id165081831?k=6&m=165081831&s=170667a&w=0&h=srlDuhzOuCbLnTcAdT8AlRq5mziHoKP7WZXv9IcY7D0=" alt="Pizza_Shop_Logo"/>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="login.html" style="color: white;">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="employees.html" style="color: white;">Employees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="stores.html" style="color: white;">Stores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="vehicles.html" style="color: white;">Vehicles</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="equipment.html" style="color: white;">Equipment</a>
              </li>
              <li class="nav-item">
              	<a class="nav-link" href="logout.html" style="color: white; padding-left: 1400px;">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>